.footer-main {
  display: flex;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.52px;
  color: rgba(255, 255, 255, 0.7);
  background: #426346;
  margin: -1px;
  padding-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .footer-main {
    font-size: 15px;
  }
}
