.headertext {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headertext {
  color: white;
  font-weight: 500;
  font-family: TiemposFineTest, serif;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}
.headertext h1 {
  font-size: 6.8vw;
  letter-spacing: .1em;
  margin-bottom: 22px;
  font-weight: 500;
}

.headertext h2 {
  font-size: 3.5vw;
  letter-spacing: .11em;
  font-weight: 400
}


@media (max-width: 1100px) {
  .headertext h1 {
  font-size: 68px !important;
}
  .headertext h2 {
    font-size: 40px !important;
  }
}

@media (max-width: 700px) {
  .headertext h1 {
  font-size: 59px !important;
  }
  .headertext h2 {
    font-size: 35px !important;
  }
}

@media (min-width: 1800px) {
  .headertext h1 {
  font-size: 100px !important;
  }
  .headertext h2 {
    font-size: 65px !important;
  }
}

@media (max-width: 500px) {
  .headertext h1 {
  font-size: 46px !important;
  }
  .headertext h2 {
    font-size: 28px !important;
  }
}

@media (max-width: 390px) {
  .headertext h1 {
  font-size: 41px !important;
  }
  .headertext h2 {
    font-size: 26px !important;
  }
}

@media (max-width: 340px) {
  .headertext h1 {
  font-size: 36px !important;
  }
  .headertext h2 {
    font-size: 22px !important;
  }
}


