.activities-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  padding: 90px 120px;
  color: #3E3D3D;
}

.activities-grid h3 {
  font-family: Tiempos Fine Test;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #637D66;
  padding-bottom: 15px;
}

.activities-grid p {
  font-family: Montserrat;
  font-size: 23px;
  line-height: 43px;
  font-weight: 300;
  /* or 180% */
  letter-spacing: 0.1em;
  color: #3E3D3D;
}

.activities-grid h5 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 23.9981px;
  letter-spacing: 0.08em;
  color: #426346;
  margin-top: 19px;
}

.margin  {
  margin-left: 40px;
}

.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 50px;
  background: #E4D1C0;
}

.quote {
  background: #96664D;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  text-align: center;
  font-family: Tiempos Fine Test;
  font-style: italic;
  font-size: 60px;
  line-height: 97px;
  /* or 114% */
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.9);
}

.quote h4 {
  padding: 0 500px;
}

.tosee-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.background {
  background: #E4D1C0;
  height: 150px;
}

.tosee h2 {
  font-family: Tiempos Fine Test;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.94)
}

.text-section {
  background: #96664D;
  color: white;
  padding-left: 100px;
  padding-top: 100px;
  padding-right: 80px;
}

.text-section h3 {
  font-family: Tiempos Fine Test;
  font-weight: 600;
  font-size: 44px;
  line-height: 54px;
  letter-spacing: 0.08em;
}

.text-section p {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0.1em;
  padding-top: 50px;
}

.enjoy img {
  width: 575px;
  height: 100%
}



.footer3 p {
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.7);
  margin-top: -50px;
}

@media (max-width: 800px) {
  .activities-grid {
    grid-template-columns: 1fr;
    text-align: center !important;
  }

  .tosee-grid {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 800px) {
  .photo-grid {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
 .enjoy img {
    display: none;
  }

  .text-section {
    padding-bottom: 100px;
    text-align: center;
  }

  .text-section h3 {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .text-section p {
    padding-top: 25px;
  }
}


