.activities-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  padding: 90px 85px;
  color: #3E3D3D;
}

.activities-wrapper {
  background: rgba(255, 254, 248, 0.5);
}

@media (max-width: 800px) {
  .activities-grid {
    margin: 20px 30px;
    grid-template-columns: none;
    padding: 0;
    grid-gap: 45px 70px;
    text-align: center !important;
    grid-template-areas:
      'desA'
      'photoA'
      'desB'
      'photoB'
      'desC'
      'photoC';
  }
  .grid-item {
    margin-left: 0 !important;
  }
  .desA {
    grid-area: desA;
  }

  .photoA {
    grid-area: photoA;
  }

  .desB {
    grid-area: desB;
  }

  .photoB {
    grid-area: photoB;
  }
  .desC {
    grid-area: desC;
  }

  .photoC {
    grid-area: photoC;
  }
}





.activities-grid img:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 30px 60px rgba(0,0,0 0.5);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.activities-grid img {
  border-radius: 3px;
}

.activities-grid h3 {
  font-family: Tiempos Fine Test;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #637D66;
  padding-bottom: 15px;
}

.activities-grid p {
  font-family: Montserrat;
  font-size: 23px;
  line-height: 43px;
  font-weight: 300;
  /* or 180% */
  letter-spacing: 0.1em;
  color: #3E3D3D;
}

.activities-grid h5 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 23.9981px;
  letter-spacing: 0.08em;
  color: #426346;
  margin-top: 19px;
}

.margin  {
  margin-left: 60px;
}

.margin h5 {
  text-align: right;
}

.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 50px 55px;
  background: #E4D1C0;
  text-align: center;
  justify-items: center;
}

.photo-grid img:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 30px 60px rgba(0,0,0 0.5);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.quote {
  background: #96664D;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 100%;
  text-align: center;
  font-family: Tiempos Fine Test;
  font-style: italic;

  /* or 114% */

}

.quote h4 {
  font-size: 40px !important;
  line-height: 50px !important;
  padding: 0 350px;
  font-weight: 400;
  letter-spacing: 0.15em;
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 1200px) {
 .quote h4 {
  font-size: 33px !important;
  line-height: 40px !important;
  padding: 0 220px;
  letter-spacing: 0.15em;

  }
}

@media (max-width: 450px) {
 .quote h4 {
  font-size: 20px !important;
  line-height: 27px !important;
  padding: 0 150px;
  letter-spacing: 0.15em;

  }

  .text-section h3 {
    padding-top: 0px;
  }
}

.tosee-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.bg {
  background: #E4D1C0;
}

.grid-item-see {
  width: 100%;
  height: 100%;
}

.grid-item-see img {
  width: 100%;
}

.grid-item-photo {
  height: 297px;
  width: 100%;
}

.background {
  background: #E4D1C0;
  height: 100px;
}

.tosee h2 {
  font-family: Tiempos Fine Test;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0.1em;
  color: white;
  margin-bottom: 50px;
  padding-top: 30px;
  font-weight: 400;
}

@media (max-width: 1200px) {
 .tosee h2 {
   margin-bottom: 30px;
   padding-top: 0;

  }
}

.text-section {
  background: #96664D;
  color: white;
  padding: 100px 73px;
}

.text-section h3 {
  font-family: Tiempos Fine Test;
  font-weight: 600;
  font-size: 44px;
  line-height: 54px;
  letter-spacing: 0.08em;
}

.text-section p {
  font-family: Montserrat;
  font-size: 25px;
  line-height: 57px;
  letter-spacing: 0.1em;
  font-weight: 300;
  padding-top: 50px;
}

.enjoy img {
  width: 575px;
  height: 100%;
}

.footer3 p {
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.7);
  margin-top: -50px;
}

.page-container {
  width: 100vw;
}

@media (max-width: 800px) {
  .activities-grid {
    /*grid-template-columns: 1fr;*/
    grid-gap: 20px;
    text-align: center !important;
    padding: 0;
    margin: 0;
  }

  .quote h4 {
    padding: 0 40px;
}

  .activities-wrapper {
    padding: 30px 48px;
    text-align: center;
  }

  .activities-grid img {
    width: 350px;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .enjoy {
    display: flex;
  }

  .d-flex {
    display: flex;
  }

  .activities-grid h3 {
    text-align: center;
    font-size: 28px;
  }

   .activities-grid p {
    text-align: center;
    font-size: 20px;
  }

  .activities-grid h5 {
    font-size: 18px;
  }

  .tosee-grid {
    grid-template-columns: 1fr;
  }

  .margin h5 {
    text-align: center;
  }
  .grid-item-see {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .grid-item-see img {
    width: 100%;
    height: 100%;
  }

  .photo-grid {
    justify-items: center;
    padding: 0;
    margin: 0;
  }

  .photos img {
    width: 80%;
    height: 100% !important;
    margin: 0 20px;
  }

  .grid-item-photo {
    text-align: center;
  }

  .bg h2 {
    font-size: 32px !important;
    padding-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 0;

  }

  .photos {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #E4D1C0;
    padding-top: 20px;
  }
}

@media (max-width: 500px) {
  .text-section {
    padding: 35px 21px;
    height: 459px !important;
  }

  .text-section h3 {
    margin-top: 0 !important;
  }

  .background {
    height: 70px;
  }

  .activities-wrapper {
    padding: 20px 30px 17px 30px;
    text-align: center;
  }

  .activities-grid img {
  width: 250px;
  height: 100%;

  }

  .text-section h3 {
    font-size: 34px;
  }

  .headertext h1{
    font-size: 44px !important;
    padding: 0 !important;
    margin-top: -5px;
  }

  #about h1 {
    font-size: 40.2px !important;
  }

@media (max-width: 320px) {
  #about h1 {
    font-size: 32px !important;
    margin-top: 30px !important;
  }
}

  #font-c {
    font-size: 40px !important;
  }

  .margin {
   margin: 20px 0 10px 0;
  }

  .activities-grid h3 {
    text-align: center;
    font-size: 26Spx;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10px;
  }

   .activities-grid p {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 39px;
    font-weight: 500;
  }

  .activities-grid h5 {
    font-size: 16px;
  }

  .activities-grid {
    grid-gap: 10px;
    padding-bottom: 20px;
  }
  .quote h4 {
    padding: 0 20px;
  }

  .quote {
    height: 200px;
  }

}


@media (max-width: 800px) {
  .photo-grid {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

   .text-section h3 {
    margin-bottom: 20px;
    padding-top: 15px;
    font-size: 30px;
    margin-top: -70px;
  }

  .text-section {
    height: 440px;
  }

  .text-section p {
    font-size: 18px;
    line-height: 35px;
    padding: 0 15px;
  }

}

@media (max-width: 1000px) {
 .enjoy img {
    display: none;
  }

  .text-section {
    padding-bottom: 100px;
    text-align: center;
    width: 100%;
  }

  .text-section h3 {
    margin-bottom: -12px;
    padding-bottom: 0;
    padding-top: 15px;
  }

  .text-section p {
    padding-top: 25px;
  }

  .tosee h2 {
    padding-bottom: 10px;
  }

}
@media (max-width: 500px) {
  .footer3 p {
      font-size: 16px;
      margin-top: -41px;
    }
}

