.main-body {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin: auto;
  margin-bottom: 30px;
}

.maintext p {
  font-family: TiemposFineTest;
  font-size: 24px;
  letter-spacing: 3px;
  color: #3e3d3d;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0;
}

.images {
  display: flex;
  justify-content: center;
}

.images img {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: -40%;
}

@media screen and (min-width: 1000px) {
  .images img {
    width: 800px;
  }
}


.greenbody {
  background: #426346;
  height: 280px;
}

@media screen and (max-width: 414px) {
  .greenbody {
    height: 230px;
  }
}

@media screen and (min-width: 650px) {
  .greenbody {
    height: 400px;
  }
}

@media screen and (min-width: 800px) {
  .greenbody {
    height: 500px;
  }
}

@media screen and (min-width: 1000px) {
  .greenbody {
    height: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .greenbody {
    height: 700px;
  }
}



