@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


.main-body {
  width: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin: auto;
  margin-bottom: 60px;
}

.maintext {
  padding: 50px 0 0 35px;
}

.maintext p {
  font-family: TiemposFineTest;
  font-size: 25px;
  letter-spacing: 3px;
  color: #3e3d3d;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0;
}

.images {
  display: flex;
  justify-content: center;
}

.images img {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: -38%;
}


.greenbody {
    height: 700px !important;
    background: #426346;
  }


@media screen and (min-width: 1000px) {
  .images img {
    width: 800px;
  }
}

@media screen and (max-width: 1100px) {
  .greenbody {
    height: 500px !important;
  }
}

@media screen and (max-width: 900px) {
  .greenbody {
    height: 400px !important;
  }
}

@media screen and (max-width: 600px) {
  .greenbody {
    height: 300px !important;
  }
}

@media screen and (max-width: 500px) {
  .greenbody {
    height: 200px !important;
  }
}









