.main-body {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin: auto;
  margin-bottom: 30px;
}

.maintext p {
  font-family: TiemposFineTest;
  font-size: 24px;
  letter-spacing: 3px;
  color: #3e3d3d;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0;
}

.slider {
  height: 60vh;
  width: 100%;
}

.greenbody {
  background: #426346;
  display: flex;
  margin-top: 250px;
}



