.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 80px 98px;
  color: #3E3D3D;

  /*grid-template-areas:
    'photo4 description'
    'photo1 description1'
    'photo2 description2'
    'photo3 description3'
    'photo4 description4';*/
}



@media (max-width: 1000px) {

  .photo4 {
  grid-area: photo4;
  height: 400px important!;
}

.description {
  grid-area: description;
}

.photo1 {
  grid-area: photo1;
}

.description1 {
  grid-area: description1;
}

.photo2 {
  grid-area: photo2;
}

.description1 {
  grid-area: description3;
}

.photo3 {
  grid-area: photo3;
}

.description4 {
  grid-area: description4;
}

.mar-l {
  margin-left: 0 !important;
}

.grid-item {
  text-align: center !important;

}
  .grid-container {
    margin: 0 30px;
    grid-template-columns: none;
    padding: 0;
    grid-gap: 28px;
    text-align: center !important;
    grid-template-areas:

      'description'
      'photo4'
      'description1'
      'photo1'
      'description2'
      'photo2'
      'description3'
      'photo3' ;
  }

  .grid-container p {
    text-align: center;
    margin: 0;
  }
}


.grid-container img:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 30px 60px rgba(0,0,0 0.5);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.grid-container h2 {
  font-family: Tiempos Fine Test;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.1em;
  margin-bottom: 18px;
}

.grid-container p {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 23px;
  line-height: 41px;
  letter-spacing: 0.1em;
  font-weight: 400;
}

.margin-b {
  margin-bottom: 22px;

}

.margin-r {
  margin-right: 80px;
}

.margin-l {
  margin-left: 90px;
}

.mar-l {
  margin-left: 142px;
}

.right {
  text-align: right;
}

.grid-item {
  margin-top: 18px;
}

.grid-team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 40px 100px 90px 100px;
  text-align: center;
  color: white;
  margin: 0 auto;
  justify-items: center;
}

.brown:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 30px 60px rgba(0,0,0 0.5);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.team-background  {
  background: #E4D1C0;
}

.team-background h2 {
  font-family: Tiempos Fine Test;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.1em;
  color: white;
  padding-top: 70px;
  color: white;
}

.grid-team h3 {
  font-family: Tiempos Fine Test;
  font-weight: 500;
  font-size: 20.1854px;
  text-align: center;
  letter-spacing: 0.1em;
  padding-top: 16px;
}

.grid-team p {
  font-family: Montserrat;
  font-size: 16.4px;
  font-weight: 300;
  padding: 0 20px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.72);
}

.brown {
  background: #96664D;
  border-radius: 3px;
  width: 274px;
  height: 407px;
  box-shadow: 2.88362px 2.88362px 15px rgba(150, 102, 77, 0.3);
}

.contact {
  background: #96664D;
  color: white;
  padding-left: 60px;
  padding-top: 80px;
  padding-right: 100px;


}

.contact h2 {
  font-family: Tiempos Fine Test;
  font-weight: 600;
  font-size: 43px;
  margin-bottom: 16px;
  letter-spacing: 0.08em;
}

.contact p {
  font-family: Montserrat;
  font-size: 24px;
  line-height: 54px;
  letter-spacing: 0.1em;
  font-weight: 300;
  padding-top: 0;
  padding-right: 60px;
}

.footer2 {
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin-top: -50px;
}


@media (max-width: 1000px) {
  /*.grid-container {
    grid-template-columns: 1fr;
    justify-items: center !important;
    padding: 0;
    margin: auto;
    text-align: center;
  }
*/
  .center-button {
    text-align: center;
    margin-top: 30px;
  }

  .grid-wrapper {
    padding: 20px 2px;
    display: flex;
    justify-content: center;
  }

  .grid-team {
    grid-template-columns: 1fr;
    justify-items: center;

    padding: 40px 0;
  }
  .photo img {
    display: none;
  }

  .contact {
    padding-bottom: 100px;
  }
}

.info {
  height: 32vh;
  background-size: cover;
  background-position: center;
}

.header-info {
  padding: 0;
  margin-top: 10px;
}

@media (max-width: 780px) {
  .header-info {
    margin-top: 23px;
  }
}

@media (max-width: 700px) {
  .header-info {
    margin-top: -5px;
  }
}

@media (max-width: 480px) {
  .header-info {
    margin-top: 25px;
  }

  .grid-container img {
    width: 340px !important;
  }

}




.header-info h1 {
  font-size: 7.6vw !important;
  text-align: center;
}

@media (max-width: 800px) {
  .grid-container {
    text-align: center !important;
  }
  .grid-container img {
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .team-background h2 {
    font-size: 42px;
    margin-bottom: 0;
  }

  .grid-container h2 {
    font-size: 26px;
    text-align: center;
  }

  .grid-container p {
    font-size: 18px;
    text-align: center;
    margin: 0;
  }

  section.bottom-section {
    display: flex;
  }

  .contact {
    text-align: center;
    margin: 0;
    padding: 20px 10px 60px 10px;
  }

  .contact h2 {
    margin-bottom: 20px;
    padding-top: 15px;
    font-size: 30px;
  }

  @media (max-width: 800px) {
    .contact p {
      padding: 0px 20px 10px 20px !important;
    }

  }

  .contact p {
    font-size: 18px;
    line-height: 35px;
    padding: 10px 60px;
  }

  .footer2 p {
    padding-top: 10px;
    font-size: 15px;
  }
}


@media (max-width: 300px) {
  .info {
    height: 30vh;
  }

  .headertext h1 {
    font-size: 35px;
    margin-top: 10px;
  }

  .grid-container {
    grid-gap: 13px;
  }

  .grid-item img {
    width: 290px !important;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .grid-team {
    padding-top: 30px;
  }

  .team-background h2 {
    padding-top: 40px;
  }

  .grid-container h2 {
    font-size: 24px;
  }

  .grid-container p {
    font-size: 18px;
    line-height: 43px;
  }

}

@media (min-width: 700px) {
  .info {
    height: 50vh;
  }
}

@media (max-width: 900px) {
  .grid-container img {
    width: 450px;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 800px) {
  .grid-container img {
    width: 400px;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}


@media screen and (min-width: 900px) {
  .headertext h1 {
    font-size: 80px !important;
    margin-top: 17px;
  }

  .header-info h1 {
    font-size: 74px !important;
    margin-top: 17px;
   }
  }

@media screen and (max-width: 320px) {
  .headertext {
    padding: 0;
    margin-top: -12px;
   }

   #headertext h1 {
      font-size: 37px !important;
      margin-top: 33px !important;
   }

   .header-info h1 {
    font-size: 35px;
    margin-top: 16px !important;
   }

  .header-info {
    margin-top: -24px !important;
  }

  #font-change {
    font-size: 34px !important;
    margin-top: 22px;
  }

   .navbar {
      padding: 27px 0;
   }

   .footer3 p {
      margin-top: -37px !important;
   }

   .grid-item img {
     width: 257px !important;
   }

    .contact p {
    padding: 0;
    font-size: 16px;
  }
  }
