.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 80px 120px;
  color: #3E3D3D;
}

.grid-container h2 {
  font-family: Tiempos Fine Test;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.1em;
  margin-bottom: 18px;
}

.grid-container p {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 23px;
  line-height: 41px;
  letter-spacing: 0.1em;
  font-weight: 400;
}

.margin-b {
  margin-bottom: 22px;

}

.margin-r {
  margin-right: 80px;
}

.margin-l {
  margin-left: 90px;
}

.mar-l {
  margin-left: 100px;
}

.right {
  text-align: right;
}

.grid-item {
  margin-top: 18px;
}

.grid-team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 60px 100px;
  text-align: center;
  color: white;
}

.team-background  {
  background: #E4D1C0;
}

.grid-team h3 {
  font-family: Tiempos Fine Test;
  font-weight: 500;
  font-size: 20.1854px;
  text-align: center;
  letter-spacing: 0.1em;
  padding-top: 16px;
}

.grid-team p {
  font-family: Montserrat;
  font-size: 16.4px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.72);
}

.brown {
  background: #96664D;
  border-radius: 3px;
  width: 274px;
  height: 407px;
}

.contact {
  background: #96664D;
  color: white;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 140px;

}

.contact h2 {
  font-family: Tiempos Fine Test;
  font-weight: 600;
  font-size: 38px;
  letter-spacing: 0.08em;
}

.contact p {
  font-family: Montserrat;
  font-size: 22px;
  line-height: 44px;
  letter-spacing: 0.1em;
  font-weight: 300;
  padding-top: 25px;
}

.footer2 {
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin-top: -50px;
}


@media (max-width: 650px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-team {
    grid-template-columns: 1fr;
  }
  .photo img {
    display: none;
  }

  .contact {
    padding-bottom: 100px;
  }
}

.info {
  height: 28vh;
  background-size: cover;
  background-position: center;
}

.header-info {
  padding: 10px 60px !important;

}

.header-info h1 {
  font-size: 7.6vw !important;
  text-align: center;
}


@media (min-width: 600px) {
  .info {
    height: 40vh;
  }
}

@media (min-width: 700px) {
  .info {
    height: 50vh;
  }

}

@media screen and (min-width: 750px) {
  .header-info h1 {
    font-size: 65px !important;
   }
  }
