.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 10px;
}

.grid-team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 10px;
}













.info {
  height: 28vh;
  background-size: cover;
  background-position: center;
}

.header-info {
  padding: 10px 60px !important;

}

.header-info h1 {
  font-size: 7.6vw !important;
  text-align: center;
}


@media (min-width: 600px) {
  .info {
    height: 40vh;
  }
}

@media (min-width: 700px) {
  .info {
    height: 50vh;
  }
}

@media screen and (min-width: 750px) {
  .header-info h1 {
    font-size: 65px !important;
  }
  }
